/* Critical line of code that hides elements based on whether they are in use or not in js */
.hide {
    display: none;
}

.wrapper{
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
   
}

.choice {
   display: flex;
   flex-direction: column;
    background-color: greenyellow;
    flex: 0 0 33%;
}